{% extends "base.html" %}

{% block title %}
   Booking Detail Health up
{% endblock %}

{% block content %}
<div class="container">
    <h1>Booking Detail:</h1>
    <form method="post" action="/booking/">
        {% csrf_token %}
        <div class="mb-3">
            <label for="user_name" class="form-label">Client Name</label>
            <select class="form-select form-select-lg mb-3" name="client" aria-label=".form-select-lg example" aria-describedby="user_name_help">
                <option selected value="-1">Please indicate the client name</option>
                {% for client in clients %}
                    <option value={{client.id}}>{{client.name}} {{client.lastname}}</option>
                {% endfor %}
              </select>              
            
            <div id="user_name_help" class="form-text">Please indicate the client name</div>
        </div>

        <div class="mb-3">
            <label for="user_name" class="form-label">Service Name</label>
            <select class="form-select form-select-lg mb-3" name="service" aria-label=".form-select-lg example" aria-describedby="user_service_help">
                <option value="-1" selected>Please indicate the service name</option>
                {% for service in services %}
                    <option value={{service.id}}>{{service.name}}</option>
                {% endfor %}
              </select>              
            
            <div id="user_service_help" class="form-text">Please indicate the service name</div>
        </div>

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Note</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="note" rows="3" aria-describedby="booking_note_help"></textarea>
            <div id="booking_note_help" class="form-text">Please indicate the note</div>
          </div>
        
        <button type="submit" class="btn btn-primary">Accept</button>
    </form>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Service</th>
                <th scope="col">Note</th>
                <th scope="col">Creation Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for booking in bookings %}
                <td>{{booking.client.name}} {{booking.client.lastname}}</td>
                <td>{{booking.service.name}}</td>
                <td>{{booking.note}}</td>
                <td>{{booking.date_creation}}</td>
                <td>
                    <form method="post" action="/booking/">
                        <input type="hidden" name="id_booking" value="{{booking.id}}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
                {% endfor %}
        </tbody>
    </table>
</div>
   
{% endblock %}
